.lead {
    max-width: 984px;
    max-height: 1005px;
    margin: auto;
    margin-top: 56px;
    color: white;
    font-size: 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px 48px 0 48px;
  }
}

