.place__url-heading {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media screen and (max-width: 1000px) {
  .place__url-heading {
    line-height: 12px;
  }
}
